// Variables
// --colors
$primary: #466050;
$primary-light: #789d9e;
$primary-lighter: #a2c4c5;
$primary-dark: #2f3539;
$primary-darker: #453144;
$secondary: #ebc187;
$secondary-light: #f7ddac;
$secondary-dark: #c96759;
$other-purple: #cdbbcc;

$theme-colors: (
	"primary-light": $primary-light,
	"primary-lighter": $primary-lighter,
	"primary-dark": $primary-dark,
	"primary-darker": $primary-darker,
	"secondary-light": $secondary-light,
	"secondary-dark": $secondary-dark,
	"other": $other-purple,
);

// $enable-gradients: true;
// $enable-responsive-font-sizes: true;

// --breakpoints & container
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	hd: 1440px,
);
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	hd: 1400px,
);
$nav-height: 66px;

// mixins
@mixin router-link($link-color) {
	color: $link-color;
	text-decoration: none;
	cursor: pointer;
}
