@font-face {
  font-family: "Libre Baskerville";
  font-weight: normal;
  src: url("../font/Libre-Baskerville/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "Libre Baskerville";
  font-weight: bold;
  src: url("../font/Libre-Baskerville/LibreBaskerville-Bold.ttf");
}

@font-face {
  font-family: "Libre Baskerville";
  font-style: italic;
  src: url("../font/Libre-Baskerville/LibreBaskerville-Italic.ttf");
}

@font-face {
  font-family: "Noto Sans Traditional Chinese";
  font-weight: normal;
  src: url("../font/NotoSansTC/NotoSansTC-Regular.otf");
}

@font-face {
  font-family: "Noto Sans Traditional Chinese";
  font-weight: bold;
  src: url("../font/NotoSansTC/NotoSansTC-Bold.otf");
}
