// Define your variable overrides here
// must be loaded before bootstrap's scss
@import 'custom-settings';

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
// @import '~bootstrap/dist/css/bootstrap.css';
// @import '~bootstrap-vue/dist/bootstrap-vue.css';

// General style overrides and custom classes
body {
	background-color: $primary-lighter; //just a test
}
.max-container {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}
// .b-overlay {
//   z-index: 20;
// }
